.nav_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  display: grid;
  height: 75px;
  grid-column: 1 / span 2;
  background-color: darkblue;
}

.movies, .movie_by_genre{
  grid-column: 2;
  text-align: right;
  background-color: red;
}
